body {
    padding-top: 0px!important;
    margin-top: 0px!important;
    padding:100px;
    margin: 100px;
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: 400;
  font-weight: <weight>;
  font-style: normal;
}
.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: 400;
  font-weight: <weight>;
  font-style: normal;
}

.head {
    font-align: center;
}

.photo {
    width: 80%;
    height: 80%;
}